.Change{
    position: absolute;
    top: 200px;
    padding-left: 150px;

}
.Label{
    font-family: sans-serif;
    font-size: 25px;
    color: gray;
    font-weight: 40px;
}
.input{
    width: 400px;
    height: 50px;
    border: 1px solid #CC1414;
    margin-top: 20px;
    opacity: 0.5;
}
.ButtonS{
    height: 60px;
    width: 130px;
    background: #E3000E;
    border-radius: 30px;
    color: white;
    margin-top: 100px;
    margin-left: 600px;
    font-size: 20px;
    font-family: sans-serif;
    border: 1px solid #CC1414;
    
}
.ButtonES{
    height: 60px;
    width: 130px;
    background: grey;
    border-radius: 30px;
    color: white;
    margin-top: 50px;
    margin-left: 600px;
    font-size: 20px;
    font-family: sans-serif;
    border: 1px solid grey; 
}